@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
    font-family: 'Roboto', sans-serif;
*/
:root{
    --main-bg-color: #181B1D;
    --main-color-yellow: #F9BC50; 
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

nav ul li{
    font-size: 1.5em;
}

.slider-contenedor{
    margin: 1em auto;
}

.slider{
    position: relative;

}
.p-slider{
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
    color: var(--main-color-yellow);
}

header { 
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed;
    z-index: 1; /* pongo por encima el header */
    background-color: var(--main-bg-color);
    

}
.w3-left, .w3-right{
    color: black;

}

body{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    z-index: 0;
    margin-top: 9.5em;
}

li{
    list-style: none;
}

ul, ol{
    padding-inline-start: 0px;
    box-shadow: 11px 10px 15px -2px rgba(0,0,0,0.75);

}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  10px 80px 10px 40px;
    align-items: center;
    font-weight: 700;
    letter-spacing: 4.3px;
}

.main-amarillo{
    color: var(--main-color-yellow);
    font-weight: bold;
}

.darkmode{
    background-color: white;
    color: var(--main-bg-color);
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    display: inline;
}

select, option {
    width: 160px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    color: white;
    background-color: var(--main-bg-color);
    border-style: none;
    margin: 0px 30px;
}

select:hover {
    background-color: gray;
    transition: 0.5s all;
    border: none;
}

.ordenar{
    padding: 15px 35px;
    box-shadow: 11px 10px 30px -2px rgba(0,0,0,0.75);

}

/*Contenedor de todas las tarjetas*/
.tarjetas{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 20px;
    flex-wrap: wrap;
  
}

/* Bookmark en gris */ 
.banner-fav{
    position: absolute; 
    height: 27px;
    width: 29px;
    font-size: 34px;
    color: #707070;
    bottom: -10px;
    right: 10px;   
    cursor: pointer; 
}

/* Bookmark en amarillo */ 
.amarillo{
    position: absolute;
    height: 27px;
    width: 29px;
    font-size: 34px;
    color: var(--main-color-yellow);
    bottom: -10px;
    right: 10px;   
    cursor: pointer; 
 
}
/* Contenedor de la imagen y icono de bookmark*/
.tarjeta-pelicula{
    position: relative;
    height: 290px;
    width: 200px;
    margin: 15px 1em;
}

/* El poster de la foto (imagen)*/
.peli-foto {
    height: 100%;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 11px 10px 30px -2px rgba(0,0,0,0.75);
}

.button-theme{
    position: relative;
    border: none;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
}

.light-button{
    color: white;
    border: none;   
}


.dark-button{
    color: var(--main-bg-color);
    border: none;

} 
      /* Hide the links inside the navigation menu (except for logo/home) */
#myLinks{
    display: none;
}

.icon{
    font-size: 30px;
    z-index: 0;
    display: none;
}
.esconder{
    display: none;
}
  
.hamburguesa{
    color: var(--main-color-yellow);
    font-size: 40px;
}

@media (max-width: 1131px) {
    nav ul li{
        font-size: 1.3em;
    }

}

@media (max-width: 1054px) {
    nav ul li{
        font-size: 1.1em;
    }
}

@media (max-width: 958px) {
    nav ul li{
        font-size: 0.8em;
    }
}

@media (max-width: 958px) {
    nav ul li{
        font-size: 0.8em;
    }
}

@media (max-width: 852px) {
    .nav-bar .esconder, .esconder1{
        display: none;
    }
    
    /* Style navigation menu links */
    .nav-bar a {
    display: list-item;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }
    
    /* Style the hamburger menu */
    .nav-bar .icon {
    background: black;
    display: contents;
    position: absolute;
    right: 0;
    top: 0;
    }
    
    #myLinks .aparecer{
        display: block;
    }

} 


.fa-moon{
    color: #F9BC50 ;
}
