@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
    font-family: 'Roboto', sans-serif;
*/
:root{
    --main-bg-color: #181B1D;
    --main-color-yellow: #F9BC50; 
}
body{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
    border: 1px solid red;
}

ul, ol{
    padding-inline-start: 0px;
}

/* 
    Clase del elemento UL dentro de NAV, centrado vertical y horizontalmente con 20px de padding izquierda y derecha,
*/
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:  5px 0px;
    align-items: center;
    font-weight: 700;
    letter-spacing: 4px;
}


.main-nav{
    background-color: var(--main-bg-color);
}

.main-amarillo{
    color: var(--main-color-yellow);
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    display: inline;
    border-bottom: 1px solid black;
}

select, option {
    margin: 20px;
    width: 160px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    color: white;
    background-color: var(--main-bg-color);
    border-style: none;
}

select:hover {
    background-color: gray;
    transition: 0.5s all;
    border: var(--main-bg-color);
}


.ordenar{
    padding: 0px 80px;
    border-bottom: 1px solid black;
}
.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-left: 19px;
    margin-right: 44px;
}
.banner-fav{
    position: relative;
    right: 39px;
    top: 20px;
    height: 42px;
}

.tarjeta-pelicula{
    border: 1px solid white;
}