
:root{
    --main-bg-color: #181B1D;
    --main-color-yellow: #F9BC50; 
}

.lista{
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    box-shadow: 11px 10px 30px -2px rgba(0,0,0,0.75);
    font-size: 1em;
    font-weight: 700;
}

.lista li:hover{
    color: var(--main-color-yellow);  
}


.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}


.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}


.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
    flex-wrap: nowrap;
    width: 1000px;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    margin: 0px 5px;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    height: 100%;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 11px 10px 30px -2px rgba(0,0,0,0.75);
}

h3 {
    margin: 10px 0px 0px 25px;
}

*::-webkit-scrollbar {
	width: 6px;   
	height: 6px;            /* width of the entire scrollbar */

  }
  *::-webkit-scrollbar-track {
	background: var(--main-bg-color);        /* color of the tracking area */
  }
  *::-webkit-scrollbar-thumb {
	background-color: var(--main-color-yellow);    /* color of the scroll thumb */
	border-radius: 10px;       /* roundness of the scroll thumb */
	border: 1px solid var(--main-color-yellow);  /* creates padding around scroll thumb */
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
#myLinks{
    display: none;
}

.icon{
    font-size: 30px;
    z-index: 0;
    display: none;
}
.esconder{
    display: none;
}

.hamburguesa{
    color: var(--main-color-yellow);
    font-size: 40px;
}
.video-centrado{
    margin-top: 15em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.audio-centrado{
    margin-top: 1em;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media (max-width: 1131px) {
    nav ul li{
        font-size: 1.3em;
    }

}

@media (max-width: 1054px) {
    nav ul li{
        font-size: 1.1em;
    }
}

@media (max-width: 958px) {
    nav ul li{
        font-size: 0.8em;
    }
}

@media (max-width: 958px) {
    nav ul li{
        font-size: 0.8em;
    }
}

@media (max-width: 852px) {
    .nav-bar .esconder, .esconder1{
        display: none;
    }

    .nav-nar {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    
    /* Style navigation menu links */
    .nav-bar a {
    display: list-item;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }
    
    /* Style the hamburger menu */
    .nav-bar .icon {
    background: black;
    display: contents;
    position: absolute;
    right: 0;
    top: 0;
    }
    
    /* Style the active link (or home/logo) */
    .active {
    background-color: #4CAF50;
    color: white;
    }
    #myLinks .aparecer{
        display: block;
    }

} 
