:root{
    --main-bg-color: #181B1D;
    --main-color-yellow: #F9BC50; 
}
main {
    display: flex;  
    margin: 5% auto;
    width: 50%;
    text-align: center;
    box-shadow: 11px 10px 30px -2px rgba(0,0,0,0.75);
    font-size: 15px;
    align-items: stretch;

}
.contenedor-1{
    width: 35%;
    background-color: var(--main-color-yellow);
    color: black;    
    align-items: center;
    justify-content: center;
    
}

.contenedor-2{
    width: 100%;
    display: flex;
}

.login, .registro, .contrasena {
    border: 1px solid black;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.texto-in{
    width: 100%;
}

h1 {
    color: var(--main-color-yellow);
    letter-spacing: 2px;
    margin-left: 2%;
}

h2{
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 700;
}



form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input[type=text], input[type=email]{
    margin-left: 25%;
    width: 50%;
    margin: 1% 25%;
    height: 2.5em;
    
}
input:focus{
    transition: 0.4s;
    border: 2px solid var(--main-color-yellow);
    background-color: var(--main-color-yellow);
    color: black;
}
::placeholder{
    color: rgb(80, 71, 71);
}
input:focus{
    outline: none;
}

.btn-login, button{
    height: 7vh;
    width: 50%;
    margin: 2% 26%;
    background-color: var(--main-color-yellow);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 3px;
}

button:hover {
    background-color: #fda50b;
    font-size: 31px;
    transition: 1s;


}

.icono {
    margin: 0 5%;
    padding: 1%;
    font-size: 2em;
}

.icono:hover{
    color: #fda815;
    transition: 0.4s;
    font-size: 2.2em;

}

.contenedor-1 * i{
    margin: 0.6em;
    font-size: 1.5em;
}

.recuerda {
    margin-top: 1em
}

.recuperar, .logueate{
    color: var(--main-color-yellow);
    font-weight: 700;
}

.login:hover, .registro:hover, .contrasena:hover{
    transition: 1s;
    font-size: 20px;

}

.recuperar:hover{
    transition: 0.4s;
    font-size: 1.2em;
}