.contenedor{
  perspective: 1000px;

}

.explorador{
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s;
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.explorador.descubierto{
  transform: rotateY(180deg);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}


.explorador__imagen{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

}

.explorador__contenido{
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  backface-visibility: visible;

}