.contenedor{
}

.explorador{
  position: relative;
  transition: transform .5s;
  width: 500px;
  height: 500px;
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.explorador.descubierto{
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);

}

.explorador.descubierto .explorador__imagen{
  animation: flip-vertical 1s linear reverse;
}
.explorador.descubierto .explorador__contenido{
  animation: flip-vertical 1s linear reverse;
  display: block;

}

.explorador__imagen{
  position: absolute;
  height: 100%;
  width: 100%;

}

.explorador__contenido{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);

}

 
@keyframes flip-vertical {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
